<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head>
    <title>Books</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<form action="/book/allBooks" method="get">
    <input type="text" name="name" placeholder="Enter book title">
    <button type="submit">Search</button>
</form>
<div sec:authorize="hasRole('LIBRARIAN')">
    <a th:href="@{/book/addBook}">Add New Book</a>
</div>
<table>
    <thead>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Actions</th>
        <th sec:authorize="hasRole('READER')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td>
            <img th:src="${book.imagesUrl.size() > 0 ? book.imagesUrl[0] : '/uploads/default.png'}" alt="Book Image" width="100">
        </td>
        <td>
            <a th:href="@{/book/view/{id}(id=${book.id})}" th:text="${book.name}">Book Name</a>
        </td>
        <td sec:authorize="hasRole('READER')">
            <form th:action="@{/book/borrow-book(id=${book.id})}" method="post" style="display:inline">
                <button type="submit" th:disabled="${book.quantity == 0}">Borrow</button>
            </form>
        </td>
        <td sec:authorize="hasRole('READER')">
            <form th:action="@{/book/return-book(id=${book.id})}" method="post" style="display:inline">
                <button type="submit" >Return</button>
            </form>
        </td>
        <td sec:authorize="hasRole('LIBRARIAN')">
            <form th:action="@{/book/delete/{id}(id=${book.id})}" method="post" style="display:inline">
                <button type="submit">Yes, delete it</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Back to Home</a>
</body>
</html>