<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div>
    <h2>Change Password</h2>
    <form action="/profile/changePassword" method="post">
        <div>
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" required>
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <div>
            <button type="submit">Change Password</button>
        </div>
    </form>
    <div th:if="${error}">
        <p th:text="${error}">Error message</p>
    </div>
    <div th:if="${message}">
        <p th:text="${message}">Success message</p>
    </div>
</div>
<a th:href="@{/profile}">Back to Profile</a>
</body>
</html>
